.navBar {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #173f5f;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
}

.navItem {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

footer {
    padding: 50px;
    text-align: center;
    background-color: #173f5f;
}

body {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: #20639b;
    color: white;
    margin: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: #20639b;
}

.active {
    color: white;
}
a:hover{
    color: white;
}

#homePage
{
    margin: auto;
    background-color: white;
    color: #20639b;
    width: 50%;
    padding:10px;
    border: 5px solid gray;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.innerPage{
    display: flex;
    
}

#title{
    align-items: center;
}

.innerP{
    margin: 10px;
}

