.navBar {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #173f5f;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
}

.navItem {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    padding: 50px;
    text-align: center;
    background-color: #173f5f;
}

body {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: #20639b;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

#homePage
{
    width: 50%;
    padding:10px;
    border: 2px solid gray;
    margin:0;
}